body {
    font-family: Arial;
    background: hwb(334 71% 4%);
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container {
    background: hwb(334 18% 4% / 0.932);
    padding: 20px;
    width: 550px;
    border-radius: 8px;
}

h2 {
    text-align: center;
}

.input-section {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 8px;
}

button {
    padding: 8px 12px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

li {
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-bottom: 10px;
    padding: 8px;
    background: #f7efef;
    border-radius: 5px;
    transition: 0.3s;
}


.task-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.tick {
    width: 20px;
    height: 20px;
    border: 2px solid green;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.tick::after {
    content: "✔";
    color: white;
    font-size: 12px;
    display: none;
}


.completed .tick {
    background: green;
}

.completed .tick::after {
    display: block;
}

.completed span {
    text-decoration: line-through;
    color: gray;
}

.delete-btn {
    background: rgb(5, 22, 134);
    color: white;
    border: none;
    padding: 5px 8px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
}

.delete-btn:hover {
    background: darkred;
    transform: scale(1.1);
}
